@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
/* global styling */

:root{
    --text-dark: #171717;
    --text-light: #525252;
    --extra-light: #a3a3a3;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
}
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
img{
    display: flex;
    width: 100%;
}
 
a{
    text-decoration: none;
    transition: 0.3s;
}
 
html, body{
    scroll-behavior: smooth;
}
 
body{
    font-family: "Montserrat", sans-serif;
}

.section-container{
    /* background-color: aqua; */
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    font-family: var(--header-font);
    color: var(--text-dark);
}

/* header styling starts */
 
.header{
    min-height: 600px;
    background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url("images/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
nav{
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    z-index: 9;
    margin: auto;
}
 
.nav-header{
    padding: 1rem;
    background-color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
 
.nav-logo img{
    max-width: 150px;
}

 
.nav-menu-btn{
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
    /* background-color: aqua; */
}
 
.nav-links{
    list-style: none;
    background-color: var(--text-dark);
    position: absolute;
    display: flex;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transform: translateY(-100%);  /*it hides the menu from the display*/
    transition: 0.5s;
    z-index: -1;
    width: 100%;
}
 
.nav-links.open{
    /*when burger icon is clicked, the menus comes in display*/
    transform: translateY(0);  
}
 
.nav-links .nav-logo{
    display: none;
}
 
/*for underlines below the menus*/
.nav-links a{
    padding-bottom: 5px;
    font-weight: 500;
    color: var(--white);
    border-bottom: 2px solid transparent;
}
 
.nav-links a:hover{
    border-color: var(--white);
}

/* header styling ends */

/* services styling starts */

.services-grid{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    /* background-color: aqua; */
}

.services-card{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.services-card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.services-card img{
    margin-bottom: 1rem;
    border-radius: 10px;
}

.services-card p{
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--text-light);
    font-family: var(--header-font);
}

.services-card h4{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-dark);
}

.services-card > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

/* services styling ends */

/* Gallery styling starts */

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block: 2rem;  /* sets top and bottom margin to 2rem */
    gap: 1rem;
}

.gallery-grid{
    transition: 0.3s;
}

.gallery-grid:hover img:not(:hover){
    opacity: 0.5;
}

/* gallery styling ends */
 
/* ------------media queries---------------*/

@media (width > 540px){
    .services-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
 
@media (width > 768px){
    .header {
    min-height: 650px;
  }
 
  nav{
    position: static;
    padding: 2rem 1rem;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  .nav-header{
    display: none;
  }
 
  .nav-links{
    padding: 0;
    width: 100%;
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
 
  .nav-links .nav-logo{
    display: block;
  }
 
  .nav-links .nav-logo img{
    max-width: 350px;
  }

  .services-grid{
        grid-template-columns: repeat(4, 1fr);
    }

  .gallery-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}
 
@media (width > 1024px) {
  .header{
    min-height: 700px;
  }
}