@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
/* global styling */

:root{
    --text-dark: #171717;
    --text-light: #525252;
    --extra-light: #a3a3a3;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
}
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
img{
    display: flex;
    width: 100%;
}
 
a{
    text-decoration: none;
    transition: 0.3s;
}
 
html, body{
    scroll-behavior: smooth;
}
 
body{
    font-family: "Montserrat", sans-serif;
}

.section-container{
    /* background-color: aqua; */
    max-width: var(--max-width);
    margin: auto;
    padding: 3rem 1rem;
}

.section-header{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    font-family: var(--header-font);
    color: var(--text-dark);
}

/* header styling starts */
 
.header{
    min-height: 600px;
    background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url("images/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}
 
nav{
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    z-index: 9;
    margin: auto;
}
 
.nav-header{
    padding: 1rem;
    background-color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
 
.nav-logo img{
    max-width: 150px;
}

 
.nav-menu-btn{
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
    /* background-color: aqua; */
}
 
.nav-links{
    list-style: none;
    background-color: var(--text-dark);
    position: absolute;
    display: flex;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transform: translateY(-100%);  /*it hides the menu from the display*/
    transition: 0.5s;
    z-index: -1;
    width: 100%;
}
 
.nav-links.open{
    /*when burger icon is clicked, the menus comes in display*/
    transform: translateY(0);  
}
 
.nav-links .nav-logo{
    display: none;
}
 
/*for underlines below the menus*/
.nav-links a{
    padding-bottom: 5px;
    font-weight: 500;
    color: var(--white);
    border-bottom: 2px solid transparent;
}
 
.nav-links a:hover{
    border-color: var(--white);
}

/* header styling ends */

/* services styling starts */

.services-grid{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    /* background-color: aqua; */
}

.services-card{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
    cursor: pointer;
}

.services-card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.services-card img{
    margin-bottom: 1rem;
    border-radius: 10px;
}

.services-card p{
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--text-light);
    font-family: var(--header-font);
}

.services-card h4{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-dark);
}

.services-card > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

/* services styling ends */

/* Gallery styling starts */

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block: 2rem;  /* sets top and bottom margin to 2rem */
    gap: 1rem;
    transition: 0.3s;
}

.gallery-grid img{
    cursor: pointer;
}

.gallery-grid:hover img:not(:hover){
    opacity: 0.5;
}

/* gallery styling ends */

/* Testimonials styling starts */

.testimonial-container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
}

.test-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 50px;
}

.test-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 2rem 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

.test-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #149e9e;
  z-index: -1;
  transition: 0.5s;
}

.test-card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  color: var(--white);
}

.test-card h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #149e9e;
  transition: 0.3s;
}

.test-card p {
  margin-bottom: 2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.test-img {
    display: block;
    margin: 0 auto;
}

.test-card img {
  margin-bottom: 1rem;
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid #149e9e;
  transition: 0.3s;
}

.test-card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #149e9e;
  transition: 0.3s;
}

.test-card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.test-card:hover::before {
  width: 400%;
}

.test-card:hover :is(h4, h5) {
  color: var(--white);
}

.test-card:hover :is(p, h6) {
  color: var(--secondary-color);
}

.test-card:hover img {
  border-color: var(--white);
}

/* Testimonials styling ends */

/* Footer styling starts */

footer{
    background: linear-gradient(to right, #232526, #414345) ;
    margin-top: 40px;
    color: white;
}

.footer-container{
    display: grid;
    gap: 4rem 0;
    align-items: center;
    max-width: 1400px;
}

.footer-col{
    padding: 2rem 2rem 2rem 2rem;
}

.footer-container img{
    width: 150px;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-socials a{
    font-size: 2rem;
}

.footer-links{
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.footer-col:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-col h4{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
}

.footer-links li a{
    color: white;
    display: block;
    text-align: center;
}

.footer-links li a:hover{
    color: var(--extra-light);
}

.footer-col p{
    color: lightgray;
    line-height: 1.75rem;
    text-align: center;
}

.footer-bar{
    padding: 1rem;
    text-align: center;
    color: var(--extra-light);
    background-color: white;
}



/* Footer styling ends */
 
/* ------------media queries---------------*/

@media (width > 540px){
    .services-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width : 768px){
    .test-grid {
        grid-template-columns: 1fr;
        
    }

    .test-card {
        padding: 15px;
    }

    .test-img {
        width: 80px;
        height: 80px;
    }

    .footer-container{
        gap: 1rem 0;
    }

    .footer-col:nth-child(2), .footer-col:nth-child(3){
        border-top: 1px dotted white ;
        
    }
}
 
@media (width > 768px){
    .header {
    min-height: 650px;
  }
 
  nav{
    position: static;
    padding: 2rem 1rem;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  .nav-header{
    display: none;
  }
 
  .nav-links{
    padding: 0;
    width: 100%;
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
 
  .nav-links .nav-logo{
    display: block;
  }
 
  .nav-links .nav-logo img{
    max-width: 350px;
  }

  .services-grid{
        grid-template-columns: repeat(4, 1fr);
    }

  .gallery-grid{
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-container{
    grid-template-columns: repeat(3, 1fr);
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer-col:nth-child(2), .footer-col:nth-child(3){
    border-left: 1px dotted var(--white);
    height: 10rem;
  }

  .footer-container img{
        width: 250px;
    }
}
 
@media (width > 1024px) {
  .header{
    min-height: 700px;
  }
}